.revenue-fields-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0 15px;
  flex-grow: 0 !important;
}
.revenue-fields-container .row-fields {
  display: flex;
  margin-bottom: 5px;
}
.revenue-fields-container .row-fields .input-box-container:not(:last-child) {
  margin-right: 2px;
}
.revenue-fields-container .row-fields .input-box-container.date {
  width: 8rem;
}
.revenue-fields-container .row-fields .input-box-container.city {
  flex-grow: 1;
}
.revenue-fields-container .row-fields .input-box-container.state {
  width: 8rem;
}
.revenue-fields-container .row-fields .input-box-container.zip {
  width: 8rem;
}
.revenue-fields-container .row-fields .input-box-container.input-code {
  width: 8rem;
  text-transform: uppercase;
}
.revenue-fields-container .row-fields .mochi-button {
  width: 8rem;
  display: flex;
  justify-content: flex-end;
}
.revenue-info-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.revenue-info-container .form-bordered-box {
  flex-grow: 1;
}
